<!DOCTYPE html>
<html>
<head>
  <title>Education</title>
   <%- include('../partials/stylesheet') %>
</head> 
<body>
    <%- include('../partials/header') %>
    <%#   <div class="container">
      <div class="row">
        <div class="card-deck">
        <% courses.map(course => { %>
          <div class="col-sm-6 col-lg-4">
            <div class="card" style="width: 18rem;">
              <a href="/courses/<%= course.slug %>">
                <img class="card-img-top" src="https://img.youtube.com/vi/<%= course.videoId %>/sddefault.jpg"" alt="<%= course.name %>">
              </a>
              <div class="card-body">
                <a href="/courses/<%= course.slug %>">
                  <h5 class="card-title"><%= course.name %></h5>
                </a>
                <p class="card-text"><%= course.content %></p>
                <a href="#" class="btn btn-primary">Mua khóa học</a>
              </div>
             </div>
            </div> 
        <% }); %>
        </div>
      </div>
    </div> 
    #%>
    <%- include('../partials/javascript') %>
 </body>
 </html> 
